<p>Rozpocznij pracę kierowcy</p>
<div class="geo-container">
  <p-button
    [label]="tracking ? 'Zakończ' : 'Rozpocznij'"
    (onClick)="toggleTracking()"
    styleClass="p-button-outlined"
  ></p-button>

  <button pButton (click)="getAccountStatus()">Sprawdź stan konta</button>

  <div *ngIf="accountStatus">
    <pre>{{ accountStatus | json }}</pre>
  </div>

  <div *ngIf="position" class="result">
    <p>
      <strong>Szerokość geograficzna:</strong> {{ position.coords.latitude }}
    </p>
    <p>
      <strong>Długość geograficzna:</strong> {{ position.coords.longitude }}
    </p>
  </div>

  <div *ngIf="error" class="error">
    <p>{{ error }}</p>
  </div>
</div>
